/*
* Global
*/

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-height: 680px;
  margin: 0;
  font-family: "Raleway";
  color: #fff;
  transition: all ease 1.5s;
  opacity: 1;
}

body.fadebg {
  opacity: 0;
  background: url('http://dummyimage.com/1500x997/000/000.jpg') no-repeat bottom center;
}

#page {
  height: 100%;
  width: 100%;
  background: url('/static/images/bg-reveal.png') no-repeat top center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container {
  padding: 60px 30px 51px 30px;
}

#content {
  width: 1300px;
  display: flex;
  justify-content: center;
}

.button {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background: #29f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

.button:hover {
  background: #3af;
}

a {
  text-decoration: none;
}

#navbar {
  width: 100%;
  background: #000;
  padding: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

#navbar h2 {
  font-size: 15px;
  font-family: "Special Elite";
  display: inline-block;
  padding: 2px 20px;
}

#player {
  display: block;
  background: #272727;
  display: flex;
  align-items: center;
  padding: 2px 20px;
  color: #fff;
  z-index: 100;
  transition: all ease 0.2s;
}

#player:hover {
  background: #3af;
}

#player span.avatar {
  margin-right: 10px;
}

#player span.alias {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

/*
* Screens
*/

/* Opening */

body.opening {
  background: url('/static/images/jump-small-blue.jpg') no-repeat bottom center;
}

h1.title {
  font-size: 42px;
  font-family: "Special Elite";
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  color: tan;
  /* Safari */
  -webkit-transform: rotate(-1deg);

  /* Firefox */
  -moz-transform: rotate(-1deg);

  /* IE */
  -ms-transform: rotate(-1deg);

  /* Opera */
  -o-transform: rotate(-1deg);
  text-shadow: 3px 3px 5px #000;
  text-transform: uppercase;
  opacity: 0.75;
}

h1:first-child {
  color: #fff;
  text-decoration: none;
  font-size: 85px;
  text-transform: none;
  opacity: 1;
  margin-top: 220px;
}

#oauth {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

#profiles {
  height: 350px;
  width: 100%;
  margin: 70px 0px;
  text-align: center;
}

a.profile {
  display: inline-block;
  height: 300px;
  width: 215px;
  background: #000;

  text-decoration: none;
  color: #fff;
  margin: 0 50px;
  text-align: center;
  -moz-box-shadow:    0px 0px 55px 0px #222;
  -webkit-box-shadow: 0px 0px 55px 0px #222;
  box-shadow:         0px 0px 55px 0px #222;
  top: 0;
  position: relative;
  transition: all 0.3s ease;
}

a.profile:hover {
  top: -15px;
}

a.profile:hover span.bio {
  display: none;
}
a.profile:hover span.play {
  display: inline-block;
  position: relative;
  top: -42px;
}

a.profile h3 {
  font-size: 19px;
  color: #eee;
  margin: 5px 0 0 0;
  padding-top: 211px;
}

a.profile p {
  color: #bbb;
  font-size: 12px;
}

span.play {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  background: #f45;
  margin-top: 257px;
  display: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

a#dee {
  background: url('/static/images/dee.jpg') no-repeat;
}

a#jason {
  background: url('/static/images/jason.jpg') no-repeat;
}

a.profile span.bio {
  display: inline-block;
  padding: 5px 20px;
  background: url('/static/images/profile-mask-light.png') no-repeat;
}

/* Levels */
#laptop {
  height: 480px;
  width: 740px;
  background: url('/static/images/laptop-small.png') no-repeat;
  position: relative;
  top: 30px;
  transition: all ease 1.5s;
  padding: 90px 140px 60px 80px;
}
#laptop.movehigher {
  top: 0;
}
#editor {
  max-height: 427px;
  overflow-y: scroll;
  width: 740px;
}
body.level1 {
  background: url('/static/images/plane-small.jpg') no-repeat bottom center;
}
.intro {
  width: 330px;
  height: 380px;
  margin-top: 30px;
  font-size: 14px;
  transition: all ease 1.5s;
  position: relative;
  top: 30px;
  left: 20px;
  opacity: 0;
}
.intro.movehigher {
  top: 0;
  left: 0;
  opacity: 1;
}
