/*
* Global
*/

html {
  height: 100%;
  width: 100%;
}

body {
  background: url('/static/images/jump-small-blue.jpg') no-repeat bottom center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Raleway";
  color: #fff;
  transition: all ease 3s;
  opacity: 1;
}

body.fadebg {
  opacity: 0;
  background: url('http://dummyimage.com/1500x997/000/000.jpg') no-repeat bottom center;
}

#bg {
  background: url('/static/images/jump-small-blue.jpg') no-repeat bottom center;
  height: 100%;
  width: 100%;
  margin: 0;
}

#page {
  height: 100%;
  width: 100%;
  background: url('/static/images/bg-reveal.png') no-repeat top center;
  position: absolute;
}

.container {
  padding: 60px 30px 60px 30px;
}

.button {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background: #29f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

.button:hover {
  background: #3af;
}

a {
  text-decoration: none;
}

#navbar {
  width: 100%;
  background: #000;
  padding: 5px 15px;
  opacity: 0.9;
}

#navbar h2 {
  font-size: 12px;
}


/*
* Screens
*/

/* Opening */
h1.title {
  font-size: 42px;
  font-family: "Special Elite";
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  color: tan;
  /* Safari */
  -webkit-transform: rotate(-1deg);

  /* Firefox */
  -moz-transform: rotate(-1deg);

  /* IE */
  -ms-transform: rotate(-1deg);

  /* Opera */
  -o-transform: rotate(-1deg);
  text-shadow: 3px 3px 5px #000;
  text-transform: uppercase;
  opacity: 0.75;
}

h1:first-child {
  color: #fff;
  text-decoration: none;
  font-size: 85px;
  text-transform: none;
  opacity: 1;
  margin-top: 220px;
}

#oauth {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

#profiles {
  height: 350px;
  width: 100%;
  margin: 70px 0px;
  text-align: center;
}

a.profile {
  display: inline-block;
  height: 300px;
  width: 215px;
  background: #000;

  text-decoration: none;
  color: #fff;
  margin: 0 50px;
  text-align: center;
  -moz-box-shadow:    0px 0px 55px 0px #222;
  -webkit-box-shadow: 0px 0px 55px 0px #222;
  box-shadow:         0px 0px 55px 0px #222;
  top: 0;
  position: relative;
  transition: all 0.3s ease;
}

a.profile:hover {
  top: -15px;
}

a.profile:hover span.bio {
  display: none;
}
a.profile:hover span.play {
  display: inline-block;
  position: relative;
  top: -42px;
}

a.profile h3 {
  font-size: 19px;
  color: #eee;
  margin: 5px 0 0 0;
  padding-top: 211px;
}

a.profile p {
  color: #bbb;
  font-size: 12px;
}

span.play {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  background: #f45;
  margin-top: 257px;
  display: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

a#dee {
  background: url('/static/images/dee.jpg') no-repeat;
}

a#jason {
  background: url('/static/images/jason.jpg') no-repeat;
}

a.profile span.bio {
  display: inline-block;
  padding: 5px 20px;
  background: url('/static/images/profile-mask-light.png') no-repeat;
}
