{{define "root"}}
<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata|Raleway:200,400,700|Special+Elite' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/static/article.css">
  <meta charset='utf-8'>
</head>

<body class="fadebg">
  <section id="navbar" class="hide">
    <h2>Operation Go</h2>
    <a id="player" href="/" onclick="return false;"></a>
  </section>
  <div id="page">
    <div class="container">
      <div id="content">
        <section id="laptop">
          <div id="editor">
            {{range .Sections}}
              {{elem $.Template .}}
            {{end}}
          </div>
        </section>
      </div>
    </div>
  </div>
  <script src='/play.js'></script>
</body>
</html>
{{end}}
