<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Operation Go: A Routine Mission - Golang Programming Game</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/wrapper.css" />
</head>
<body>
    <iframe src="opening.article" height="100%" width="100%" id="game"></iframe>
    <script>
      $( document ).ready(function() {
        /*setTimeout(function() {
          $('#game').attr('src', '/levels/01-all-aboard.article');
        }, 2000);*/
      });
    </script>
</body>
</html>
